* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f0f2f5;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 220px;
    margin-bottom: 40px;
    gap: 40px;
    background-color: white;
    padding: 50px;
    max-width: 1000px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12)
}
.main-header {
    background-color: white;
    padding: 20px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 25px;
    max-width: 450px;
}
.nav-links a {
    text-decoration: none;
    transition: 350ms;
    color: #333;
}
.nav-links a:hover {
    color: #111;
    text-shadow: 0.2px 0 0 #111, -0.2px 0 0 #111;
}
.info-block {
    font-size: 25px;
    color: #111;
    margin-bottom: 15px;
}
.info-block p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}
.logo {
    font-size: 25px;
    font-weight: 700;
}
div span {
    color: blue;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
label {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}
input {
    padding: 10px;
    font-weight: 500;
    color: #333;
    border-radius: 8px;
    border: 1px solid #ccc;
}
textarea {
    padding: 12px;
    height: 120px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    grid-column: span 2;
    resize: none;
}
button {
    transition: 650ms;
    border-radius: 8px;
    background-color: #111;
    color: white;
    border: 1px solid #ccc;
    padding: 15px;
    font-weight: 600;
    grid-column: span 2;
}
button:hover {
    background-color: #333;
}
form div{
    display:flex ;
    flex-direction: column;
    gap: 6px;
}
@media(max-width: 480px) {
    main {
        padding: 20px;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    form {
        gap: 8px;
        grid-template-columns: 1fr
    }
    textarea, button {
        grid-column: span 1;
    }
}